*{
padding:0;
margin:0;
}

/* styling the header section */
.header{
width:100%;
height:50px;
background-color:rgba(0,0,0,0.8);
box-sizing: border-box;
display:flex;
align-items:center;
justify-content: space-between;
}
.icon{
color:rgba(0,200,200,1);
display:flex;
padding-right:50px;
}
.icon i{
padding-right:20px;
}
.list{
font-size:20px;
}
.list li{
padding-left:20px;
color:white;
display:inline;
}
.contact{
color:rgba(0,200,200,1);
text-decoration: none;

}
.contact:hover{
color:rgba(0,200,200,0.4);
}

/* styling the navigation bar section */

.navigatbar{
width:100%;
height:100px;
background-color:rgba(255,255,255,1);
color:#000;
position:sticky;
top: 0;
z-index:5;
box-sizing: border-box;
display:flex;
align-items:center;
justify-content:space-between;
}
.create a{
color:#111;
}
.create li a:link{
font-size:30px;
text-decoration:none;
padding-left:20px;
}
.navlist{
padding-right:20px;
}
.navlist li{
display:inline-block;
padding-right:40px;
}
#active{
color:rgba(0,200,200,1);
}
.navlist a{
text-decoration:none;
color:#000;
}
.navlist a:hover{
color:rgba(0,200,200,1);
}
.dropdown{
display:inline-block;
}
.dropdown-content{
width:190px;
display:none;
position:absolute;
background-color:rgba(255,255,255,0.8);
border-top:3px solid rgba(0,200,200,1);
z-index:3;
}
.dropdown-content a{
padding:20px;
display:block;
text-align:bottom;
z-index:1;
}
.dropdown:hover .dropdown-content{
display:block;
}
.dropdown-content a:hover{
background-color:rgba(150,150,150,0.5);
color:black;
}

/* styling the "we love.." section */

.love{
    width: 100%;
    height: 80vh;
    background-color:rgba(150,150,150,0.5);
    background-image:url("hero_1.jpg.webp");
    background-size:cover;
    background-repeat:no-repeat;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-size:border-box;
}

.mobile1{
font-size:50px;
}
.mobile2{
font-size:20px;
}
.corlib{
text-decoration:none;
color:rgba(0,255,200,0.8);
}
.mobile3{
background-color:rgba(0,255,200,0.8);
color:rgba(0,0,0,0.7);
width:150px;
padding:17px;
border-width:0px;
border-radius:50px;
cursor:pointer;
}
.incresca{
display:grid;
grid-template-columns: 300px 300px 300px;
justify-content: space-around;
padding:100px;
}

/* styling the section of Innovate, Create, Scale" */

.superimposed{
position:relative;
box-sizing:border-box;
}
.head123{
color:rgba(0,230,210,1);
}
.three{
color:rgba(0,0,0,0.1);
font-size:110px;
font-weight: bold;
position:absolute;
margin-top:-55px;
margin-left:-33px;
z-index:-1;
}
.scale{
margin-top:-20px;
color:rgba(0,0,0,0.9);
font-size:18px;
}
.lorem3{
padding-top:10px;
padding-bottom:20px;
}
.li3{
list-style-type:none;
}
.li3 li{
padding-bottom:15px;
}
.check{
color:rgba(0,240,200,1);
font-weight: bold;
}


/* styling "our works" section */

.ourWorks{
 width: 100%;
 height:250px;
display:flex;
align-items:center;
flex-direction:column;
justify-content:center;
box-sizing:border-box;
}
.our{
color:rgba(0,0,0,1);
padding-bottom:30px;
font-size:40px;
}
.ourLorem{
width:550px;
font-size:20px;
color:rgba(0,0,0,0.8);
text-align-last:center;
}


/* Styiling grid picture */

.gridPicture{
width:100%;
background-color:#fff;
display:grid;
grid-template-columns:auto auto auto;
grid-template-rows:350px 350px;
padding-left:15px;
padding-right:15px;
box-sizing:border-box;
gap:20px;
}

.gridImage{
box-sizing:border-box;
}
.gridImage img{
 width:100%; 
height:100%;
object-fit:cover;
}
.gridImage:hover img{
 opacity: 0.3;
}
.gridImage:hover .hidden{
color:#fff;
display:block;
}
.hidden{
display:none;
position:relative;
margin-top:-50%;
text-align:center;
}
.blackGrid{
display:grid;
width:82%;
background-color:rgba(0,0,0,1);
grid-template-columns:auto 270px 270px;
grid-template-rows:200px 200px;
gap:20px;
padding:20px;
margin-left:100px;
margin-top:90px;
}
.gridLorem{
font-size:19px;
}
.gridLorem h2,.aa{
color:#fff;
}
.gridLorem p{
color:rgba(255,255,255,0.6);
}

.itTable{
grid-row:1/span 2;
}
.itTable img{
width:80%;
height:100%;
}

/* Styling Testimonials */

.testimony{
width:100%;
height:550px;
background-color:#fff;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding-top:40px;
box-sizing:border-box;
}

.test{
font-size:30px;
color:#000;
padding-bottom:20px;
}
.testlorem{
width:52%;
line-height:150%;
font-size:25px;
color:rgba(10,20,30,0.8);
padding-bottom:20px;
text-align-last:center;
}
.john1{
border-radius:50%;
float:left;
margin-top:-30px;
}

.john{
font-size:16px;
color:rgba(10,20,30,0.8);
padding-left:20px;
} 
.bigdot{
display:flex;
box-sizing:border-box;
}
.dot1{
margin-top:-40px;
font-size:90px;
color:rgba(200,200,200);
cursor:pointer;
}

/* Styling Our Services section */

.servi{
width:80%;
display:grid;
grid-template-columns:300px 300px 300px;
grid-template-rows:50px 190px 190px;
margin-left:80px;
background-color:rgba(255,255,255,1);
gap:40px;
padding-left:70px;
}

.uno ptopp,atopp{
font-size:20px;
}
.topp .topp1{
margin-left:30px;
}
.topp .htopp,.ptopp{
color:rgba(20,30,10,0.8);
}
.topp{
margin-top:-30px;
}
.atopp{
color:rgba(0,240,200,1);
text-decoration:none;
}
.our{
grid-column: 1/span 3;
text-align:center;
font-size:50px;
}
.uno i{
color:rgba(0,240,200,1);
font-size:40px;
font-weight: bold;
margin-left:-30px;
float-left;
}

/* blank division */

.blank1{
padding-top:100px;
border-bottom:2px solid rgba(100,100,100,0.6);
}

/* Styling about us section */

.aboutus{
width:80%;
display:grid;
grid-template-columns:280px 280px auto;
grid-template-rows:220px 220px;
margin-left:140px;
gap:30px;
margin-top:70px;
}
.ab2 img{
width:100%;
height:80%;
}
.ab1{
grid-column: 1/span 2;
}
.ab2{
padding-left:60px;
grid-area: 1 / 3 / 3/ 3;
}
.abouth2{
color:#000;
font-size:40px;
padding-bottom:20px;
}
.headh2{
color:rgba(90,90,90,1);
padding-top:10px;
padding-bottom:14px;
font-size:25px;
}
.par1{
color:rgba(100,100,100,1);
font-size:23px;
}
.par2{
color:rgba(100,100,100,1);
font-size:20px;
padding-bottom:20px;
}
.about1 i{
color:rgba(90,90,90,1);
font-size:40px;
font-weight: bold;
}
.alearn{
text-decoration:none;
color:rgba(0,240,250,1);
}

/* Styling Our Team section */

.ourteam{
height:700px;
line-height:150%;
margin-left:130px;
margin-right:100px;
margin-top:150px;
display:grid;
grid-template-columns:auto auto auto auto;
gap:40px;
}
.ourhead{
grid-column:1 / span 4;
display:flex;
justify-content:center;
align-items:flex-end;

}
.ourheading{
padding-bottom:10px;
color:#000;
font-size:40px;
}
.ourimage{
width:180px;
height:180px;
border-radius:50%;
padding-bottom:25px;
}
.imagetolist{
display:flex;
flex-direction:column;
align-items:center;
}
.johnR{
font-size:20px;
color:rgba(90,90,90,1);
}
.cofounder{
font-size:15px;
color:rgba(90,90,90,0.4);
padding-bottom:15px;
}
.otlorem{
font-size:18px;
color:rgba(90,90,90,0.8);
padding-bottom:15px;
}
.ourLists{
list-style-type:none;
display:flex;
color:rgba(90,90,90,1);
font-size:25px;
gap:7px;
}

/* Styling Blank div. section */

.divblank{
height:2px;
background-color:rgba(100,100,100,0.6);
}

/* Styling Blog section */

.blogsection{
height:850px;
line-height:150%;
margin-left:130px;
margin-right:100px;
margin-top:70px;
display:grid;
grid-template-columns:auto auto auto auto;
gap:25px;
}
.blog{
grid-column:1 / span 4;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
padding-bottom:30px;
}
.bimage{
width:100%;
height:350px;
padding-bottom:13px;
}
.bcreate{
color:rgba(90,230,210,1);
text-decoration:none;
font-size:24px;
}
.bnames{
list-style-type:none;
display:flex;
align-items:center;
color:rgba(90,90,90,1);
}
.bnames li{
padding-right:10px;
}
.bnews{
color:rgba(0,240,250,1);
text-decoration:none;
}
.dotdot{
margin-top:-25px;
font-size:50px;
}
.blorem{
color:rgba(90,90,90,1);
font-size:18px;
}
.bcontinue{
text-decoration:none;
color:rgba(0,240,250,1);
font-size:19px;
}

/* styling contact form section*/

.contactform{
background-color:rgba(230,230,230,0.3);
height:1000px;
}
.fcontus{
height:150px;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
box-sizing:border-box;
}
.formcontact{
display:flex;
flex-direction:row;
justify-content:space-between;
line-height:170%;
margin-left:120px;
margin-right:120px;
gap:20px;
box-sizing:border-box;
}
.coform{
font-size:30px;
color:rgba(30,30,30,0.8);
}
.firstlast{
display:flex;
justify-content:space-between;
}
.form1,.coinfo{
background-color:#fff;
}
.form1{
width:680px;
height:750px;
padding:40px;
box-sizing:border-box;
}
.fname1{
font-size:20px;
color:rgba(30,30,30,1);
}
.fname2{
width:280px;
height:45px;
border:1px solid rgba(200,200,200,1);
border-radius:50px;
}
.email2{
width:560px;
height:45px;
border:1px solid rgba(200,200,200,1);
border-radius:50px;
}
.textarea{
width:560px;
height:200px;
border:1px solid rgba(200,200,200,1);
border-radius:20px;
padding:10px;
}
.submit{
width:200px;
height:50px;
border:1px solid rgba(200,200,200,1);
border-radius:50px;
padding:20px;
background-color:rgba(0,240,250,1);
color:#fff;
}
.coinfo{
width:400px;
height:350px;
padding:20px;
box-sizing:border-box;
}
.cohead{
font-size:20px;
color:rgba(40,40,40,1);
}
.coaddress{
color:rgba(50,50,50,1);
}
.colink{
font-size:20px;
text-decoration:none;
color:rgba(0,245,250,1);
}
.col{
padding-bottom:90px;
}

/* Styling let's get started section */

.getstart{
height:130px;
background-color:rgba(0,200,200,1);
display:flex;
justify-content:center;
align-items:center;
}
.let{
text-decoration:none;
font-size:30px;
color:#fff;
}

/* Styling footer */

.footer{
height:600px;
background-color:rgba(0,0,0,0.7);
box-sizing:border-box;
}
.flexfooter{
display:flex;
flex-direction:row;
justify-content:space-between;
gap:80px;
padding:100px;
line-height:160%;
}
.white,.ftsub{
color:#fff;
font-size:20px;
padding-bottom:25px;
}
.ftabout{
width:300px;
}
.ftp{
color:rgba(255,255,255,0.6);
font-size:18px;
}
.ftlist1{
list-style-type:none;
}
.ftlist1 a{
text-decoration:none;
color:rgba(255,255,255,0.6);
font-size:18px;
}
.ftlist1 a:hover{
color:rgba(255,255,255,1);
}
.ftlist2{
display:flex;
justify-content:space-between;
list-style-type:none;
color:rgba(255,255,255,0.6);
font-size:25px;
}
.ftlist2 li{
padding-right:10px;
}
.ftlist2 i:hover{
color:rgba(255,255,255,1);
cursor:pointer;
}
.enteremail{
width:150px;
height:41px;
padding-left:10px;
background-color:rgba(0,0,0,0);
border-top:1px solid rgba(255,255,255,0.6);
border-left:1px solid rgba(255,255,255,0.6);
border-bottom:1px solid rgba(255,255,255,0.6);
border-right:0px;
border-radius:50px 0px 0px 50px;
color:rgba(255,255,255,0.6);
}
.ftbutton{
width:50px;
height:43px;
border-top:1px solid rgba(255,255,255,0.6);
border-right:1px solid rgba(255,255,255,0.6);
border-bottom:1px solid rgba(255,255,255,0.6);
border-left:0px;
border-radius:0px 50px 50px 0px;
margin-left:-5px;
cursor:pointer;
color:#fff;
background-color:rgba(0,200,200,1);
}
.line{
height:1px;
background-color:rgba(255,255,255,0.6);
margin:100px 100px 40px 100px;
}
.copyright{
display:flex;
justify-content:center;
color:rgba(255,255,255,0.4);
font-size:20px;
}
.heart{
color:rgba(255,0,0,0.7);
margin-top:-5px;
}
.colrib{
text-decoration:none;
color:rgba(255,255,255,0.8);
}
.colrib:hover{
color:rgba(255,255,255,1);
}